<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!-- <add key="URL" value="http://www.met.hu/idojaras/aktualis_idojaras/mert_adatok/main.php?vn=0&v=Budapest&c=tablazat&ful=hom" /> -->
    <add key="Email" value="hadhazis@gmail.com"/>
    <add key="Proxy" value="http://163.242.220.53:3128/"/>
    <add key="UseProxy" value="false"/>
    <add key="UserId" value="shadhazi"/>
    <add key="Password" value="izahdahW65+"/>
    <add key="Domain" value=""/>
    <add key="TimerInterval" value="300000"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
